#!/bin/sh

LAN_IF=eth0
WAN_IF=eth1
BRIDGE_IF=br0

FROM_BRIDGE="-i ${BRIDGE_IF}"
TO_BRIDGE="-o ${BRIDGE_IF}"
FROM_LO="-i lo"
TO_LO="-o lo"

FROM_LAN="${FROM_BRIDGE} -m physdev --physdev-in ${LAN_IF}"
FROM_WAN="${FROM_BRIDGE} -m physdev --physdev-in ${WAN_IF}"

TO_LAN="${TO_BRIDGE} -m physdev --physdev-out ${LAN_IF}"
TO_WAN="${TO_BRIDGE} -m physdev --physdev-out ${WAN_IF}"

FROM_WAN_TO_LAN="${FROM_WAN} ${TO_LAN}"
FROM_LAN_TO_WAN="${FROM_LAN} ${TO_WAN}"

ipt() {
    iptables $* 2>&1
    ip6tables $* 2>&1
}

ipt4() {
    iptables $* 2>&1
}

ipt6() {
    ip6tables $* 2>&1
}

flush_firewall() {
    ipt -t raw -F
    ipt -t raw -X
    ipt -t filter -F
    ipt -t filter -X
    ipt -t mangle -F
    ipt -t mangle -X
    ipt -t nat -F
    ipt -t nat -X
}

policies() {
    ipt -t filter -P INPUT DROP
    ipt -t filter -P OUTPUT ACCEPT
    ipt -t filter -P FORWARD DROP
}

service_dscp_tcp() {
    ipt -t mangle -A POSTROUTING ${1:+"$1"} -p tcp --dport ${2:+"$2"} \
    ${4:+"$4"} -j DSCP --set-dscp-class ${3:+"$3"}
}

service_dscp_udp() {
    ipt -t mangle -A POSTROUTING ${1:+"$1"} -p udp --dport ${2:+"$2"} \
    ${4:+"$4"} -j DSCP --set-dscp-class ${3:+"$3"}
}

service_intercept_tcp() {
    ipt -t nat -A PREROUTING "$FROM_LAN" -p tcp --dport ${1:+"$1"} -j REDIRECT
}

service_intercept_udp() {
    ipt -t nat -A PREROUTING "$FROM_LAN" -p udp --dport ${1:+"$1"} -j REDIRECT
}

allow_icmp_in() {
    allow4 "$1" "$2" "-p icmp -m icmp --icmp-type 8"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 128"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 130"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 131"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 132"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 134"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 135"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 136"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 139"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 141"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 142"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 143"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 144"
    allow6 "$1" "$2" "-p icmpv6 -m icmp6 --icmpv6-type 145"
}

allow_dhcp_in() {
    allow4 "$1" "$2" "-p udp -m udp --dport 68"
    allow6 "$1" "$2" "-s fc00::/6 -d fc00::/6 -p udp -m udp --dport 546"
}

allow_broadcast_multicast_in() {
    allow "$1" "$2" "-m addrtype --dst-type MULTICAST"
    allow "$1" "$2" "-m addrtype --dst-type ANYCAST"
    allow4 "$1" "$2" "-m addrtype --dst-type BROADCAST"
    allow4 "$1" "$2" "-p igmp"
}

drop_invalid_tcp_flags_from() {
    drop "$1" "-p tcp -m tcp --tcp-flags ALL ALL"
    drop "$1" "-p tcp -m tcp --tcp-flags SYN,FIN SYN,FIN"
    drop "$1" "-p tcp -m tcp --tcp-flags SYN,RST SYN,RST"
    drop "$1" "-p tcp -m tcp --tcp-flags ALL FIN,URG,PSH"
    drop "$1" "-p tcp -m tcp --tcp-flags ALL NONE"
}

drop_icmp_frags_from() {
    drop4 "$1" "-p icmp -f"
}

allow_conntrack_in() {
    drop "$1" "-m conntrack --ctstate INVALID"
    allow "$1" "-m conntrack --ctstate RELATED,ESTABLISHED"
}

log_all_in() {
    ipt -t filter -A ${1:+"$1"} -j LOG --log-prefix "${1:+"$1":}"
}

allow() {
    ipt -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j ACCEPT
}

reject() {
    ipt -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j REJECT
}

drop() {
    ipt -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j DROP
}

allow4() {
    ipt4 -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j ACCEPT
}

reject4() {
    ipt4 -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j REJECT
}

drop4() {
    ipt4 -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j DROP
}

allow6() {
    ipt6 -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j ACCEPT
}

reject6() {
    ipt6 -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j REJECT
}

drop6() {
    ipt6 -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j DROP
}

firewall() {
    policies
    ipt -t raw -A PREROUTING -i lo -j NOTRACK

    allow INPUT "$FROM_LO"
    drop_invalid_tcp_flags_from INPUT
    drop_icmp_frags_from INPUT
    allow_conntrack_in INPUT
    allow_broadcast_multicast_in INPUT "$FROM_WAN"
    allow_dhcp_in INPUT "$FROM_WAN"
    allow_icmp_in INPUT "$FROM_WAN"
    allow INPUT "$FROM_WAN" "-p tcp -m tcp --dport 22"
    allow INPUT "$FROM_LAN"

    drop_invalid_tcp_flags_from FORWARD
    drop_icmp_frags_from FORWARD
    allow_conntrack_in FORWARD
    allow_broadcast_multicast_in FORWARD "$FROM_WAN_TO_LAN"
    allow_dhcp_in FORWARD "$FROM_WAN_TO_LAN"
    allow_icmp_in FORWARD "$FROM_WAN_TO_LAN"
    allow FORWARD "$FROM_LAN_TO_WAN"

    allow OUTPUT "$TO_LO"
    allow_conntrack_in OUTPUT
    reject OUTPUT "$TO_BRIDGE" "-m owner --uid-owner zcecc22"

    service_intercept_udp 53
    service_intercept_tcp 53
}

flush_firewall
firewall
