#!/bin/sh

LAN_IF=enp1s0f0
WAN_IF=enp1s0f1
BRIDGE_IF=br0
VPN_IF=tun+

FROM_ALL=""
FROM_BRIDGE="-i ${BRIDGE_IF}"
FROM_WAN="${FROM_BRIDGE} -m physdev --physdev-in ${WAN_IF}"
FROM_LAN="${FROM_BRIDGE} -m physdev --physdev-in ${LAN_IF}"
FROM_VPN="-i ${VPN_IF}"
FROM_LO="-i lo"

TO_ALL=""
TO_BRIDGE="-o ${BRIDGE_IF}"
TO_WAN="${TO_BRIDGE} -m physdev --physdev-out ${WAN_IF}"
TO_LAN="${TO_BRIDGE} -m physdev --physdev-out ${LAN_IF}"
TO_VPN="-o ${VPN_IF}"
TO_LO="-o lo"

FROM_WAN_TO_LAN="${FROM_WAN} ${TO_LAN}"
FROM_LAN_TO_WAN="${FROM_LAN} ${TO_WAN}"
FROM_ALL_TO_ALL=""

ALL=""

MARK_MASK="0xff"
FOR_ANY="0x00/${MARK_MASK}"

ipt() {
    iptables $* 2>&1
    ip6tables $* 2>&1
}

ipt4() {
    iptables $* 2>&1
}

ipt6() {
    ip6tables $* 2>&1
}

flush_firewall() {
    ipt -t raw -F
    ipt -t raw -X
    ipt -t filter -F
    ipt -t filter -X
    ipt -t mangle -F
    ipt -t mangle -X
    ipt -t nat -F
    ipt -t nat -X
}

policies() {
    ipt -t filter -P INPUT ACCEPT
    ipt -t filter -P OUTPUT ACCEPT
    ipt -t filter -P FORWARD ACCEPT
}

chain_general_tracking() {
    ipt -t filter -N general_tracking
    drop4 general_tracking "$FROM_ALL" "-f"
    allow general_tracking "$FROM_ALL" "-m conntrack --ctstate RELATED,ESTABLISHED"
    drop general_tracking "$FROM_ALL" "-m conntrack --ctstate INVALID"
}

chain_icmp() {
    ipt -t filter -N icmp

    allow4 icmp "-p icmp --icmp-type 0"
    allow4 icmp "-p icmp --icmp-type 3"
    allow4 icmp "-p icmp --icmp-type 8"
    allow4 icmp "-p icmp --icmp-type 11"
    drop4 icmp

    allow6 icmp "-p icmpv6 --icmpv6-type 1"
    allow6 icmp "-p icmpv6 --icmpv6-type 2"
    allow6 icmp "-p icmpv6 --icmpv6-type 3"
    allow6 icmp "-p icmpv6 --icmpv6-type 4"
    allow6 icmp "-p icmpv6 --icmpv6-type 128"
    allow6 icmp "-p icmpv6 --icmpv6-type 133"
    allow6 icmp "-p icmpv6 --icmpv6-type 134"
    allow6 icmp "-p icmpv6 --icmpv6-type 135"
    allow6 icmp "-p icmpv6 --icmpv6-type 136"
    allow6 icmp "-p icmpv6 --icmpv6-type 137"
    allow6 icmp "-p icmpv6 --icmpv6-type 141"
    allow6 icmp "-p icmpv6 --icmpv6-type 142"
    allow6 icmp "-s fe80::/10 -p icmpv6 --icmpv6-type 130"
    allow6 icmp "-s fe80::/10 -p icmpv6 --icmpv6-type 131"
    allow6 icmp "-s fe80::/10 -p icmpv6 --icmpv6-type 132"
    allow6 icmp "-s fe80::/10 -p icmpv6 --icmpv6-type 143"
    allow6 icmp "-p icmpv6 --icmpv6-type 148"
    allow6 icmp "-p icmpv6 --icmpv6-type 149"
    allow6 icmp "-s fe80::/10 -p icmpv6 --icmpv6-type 151"
    allow6 icmp "-s fe80::/10 -p icmpv6 --icmpv6-type 152"
    allow6 icmp "-s fe80::/10 -p icmpv6 --icmpv6-type 153"
    drop6 icmp
}

jump() {
    ipt -t ${1:+"$1"} -A ${2:+"$2"} ${3:+"$3"} ${4:+"$4"} -j ${5:+"$5"}
}

allow() {
    ipt -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j ACCEPT
}

reject() {
    ipt -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j REJECT
}

drop() {
    ipt -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j DROP
}

jump4() {
    ipt4 -t ${1:+"$1"} -A ${2:+"$2"} ${3:+"$3"} ${4:+"$4"} -j ${5:+"$5"}
}

allow4() {
    ipt4 -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j ACCEPT
}

reject4() {
    ipt4 -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j REJECT
}

drop4() {
    ipt4 -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j DROP
}

jump6() {
    ipt6 -t ${1:+"$1"} -A ${2:+"$2"} ${3:+"$3"} ${4:+"$4"} -j ${5:+"$5"}
}

allow6() {
    ipt6 -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j ACCEPT
}

reject6() {
    ipt6 -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j REJECT
}

drop6() {
    ipt6 -t filter -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -j DROP
}

dscp() {
    ipt -t mangle -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -m dscp --dscp 0x00 \
      -j DSCP --set-dscp ${4:+"$4"}
}

dscp4() {
    ipt4 -t mangle -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -m dscp --dscp 0x00 \
      -j DSCP --set-dscp ${4:+"$4"}
}

dscp6() {
    ipt6 -t mangle -A ${1:+"$1"} ${2:+"$2"} ${3:+"$3"} -m dscp --dscp 0x00 \
      -j DSCP --set-dscp ${4:+"$4"}
}

skip_dscp() {
    ipt -t mangle -A ${1:+"$1"} ${2:+"$2"} -j ACCEPT
}

skip_dscp4() {
    ipt4 -t mangle -A ${1:+"$1"} ${2:+"$2"} -j ACCEPT
}

skip_dscp6() {
    ipt6 -t mangle -A ${1:+"$1"} ${2:+"$2"} -j ACCEPT
}

mark() {
    ipt -t mangle -A ${1:+"$1"} ${2:+"$2"} -m mark --mark "$FOR_ANY" \
      -j MARK --set-mark ${3:+"$3"}
}

mark4() {
    ipt4 -t mangle -A ${1:+"$1"} ${2:+"$2"} -m mark --mark "$FOR_ANY" \
      -j MARK --set-mark ${3:+"$3"}
}

mark6() {
    ipt6 -t mangle -A ${1:+"$1"} ${2:+"$2"} -m mark --mark "$FOR_ANY" \
      -j MARK --set-mark ${3:+"$3"}
}

skip_mark() {
    ipt -t mangle -A ${1:+"$1"} ${2:+"$2"} -j ACCEPT
}

skip_mark4() {
    ipt4 -t mangle -A ${1:+"$1"} ${2:+"$2"} -j ACCEPT
}

skip_mark6() {
    ipt6 -t mangle -A ${1:+"$1"} ${2:+"$2"} -j ACCEPT
}

save_mark() {
    ipt -t mangle -A ${1:+"$1"} -j CONNMARK --save-mark --mask "$MARK_MASK"
}

save_mark4() {
    ipt4 -t mangle -A ${1:+"$1"} -j CONNMARK --save-mark --mask "$MARK_MASK"
}

save_mark6() {
    ipt6 -t mangle -A ${1:+"$1"} -j CONNMARK --save-mark --mask "$MARK_MASK"
}

restore_mark() {
    ipt -t mangle -A ${1:+"$1"} -j CONNMARK --restore-mark --mask "$MARK_MASK"
}

restore_mark4() {
    ipt4 -t mangle -A ${1:+"$1"} -j CONNMARK --restore-mark --mask "$MARK_MASK"
}

restore_mark6() {
    ipt6 -t mangle -A ${1:+"$1"} -j CONNMARK --restore-mark --mask "$MARK_MASK"
}

masquerade() {
    ipt -t nat -A POSTROUTING ${1:+"$1"} ${2:+"$2"} -j MASQUERADE
}

masquerade4() {
    ipt4 -t nat -A POSTROUTING ${1:+"$1"} ${2:+"$2"} -j MASQUERADE
}

masquerade6() {
    ipt6 -t nat -A POSTROUTING ${1:+"$1"} ${2:+"$2"} -j MASQUERADE
}

firewall() {
    # INPUT CHAINS
    ipt -t filter -N input_wan
    jump4 filter input_wan "$FROM_ALL" "-p icmp" icmp
    jump6 filter input_wan "$FROM_ALL" "-p icmpv6" icmp
    allow4 input_wan "$FROM_ALL" "-p udp -m udp --dport 68"
    allow6 input_wan "$FROM_ALL" "-s fe80::/10 -d fe80::/10 -p udp -m udp --sport 547 --dport 546"
    allow input_wan "$FROM_ALL" "-p tcp -m multiport --dports ssh,http,https"
    drop input_wan

    ipt -t filter -N input_lan
    allow input_lan "$FROM_ALL" "$ALL"

    ipt -t filter -N input_vpn
    jump4 filter input_vpn "$FROM_ALL" "-p icmp" icmp
    jump6 filter input_vpn "$FROM_ALL" "-p icmpv6" icmp
    drop input_vpn

    ipt -t filter -N input_lo
    allow input_lo "$FROM_ALL" "$ALL"

    # OUTPUT CHAINS
    ipt -t filter -N output_bridge
    reject output_bridge "$TO_ALL" "-m owner --uid-owner debian-transmission"
    allow output_bridge "$TO_ALL" "$ALL"

    ipt -t filter -N output_vpn
    allow output_vpn "$TO_ALL" "$ALL"

    ipt -t filter -N output_lo
    allow output_lo "$TO_ALL" "$ALL"

    # FORWARD CHAINS
    ipt -t filter -N forward_wan_to_lan
    jump4 filter forward_wan_to_lan "$FROM_ALL" "-p icmp" icmp
    jump6 filter forward_wan_to_lan "$FROM_ALL" "-p icmpv6" icmp
    allow4 forward_wan_to_lan "$FROM_ALL" "-p udp -m udp --dport 68"
    allow6 forward_wan_to_lan "$FROM_ALL" "-s fe80::/10 -d fe80::/10 -p udp -m udp --sport 547 --dport 546"
    drop forward_wan_to_lan

    ipt -t filter -N forward_lan_to_wan
    allow forward_lan_to_wan "$FROM_ALL" "$ALL"

    # INPUT RULES
    jump filter INPUT "$FROM_ALL" "$ALL" general_tracking
    jump filter INPUT "$FROM_WAN" "$ALL" input_wan
    jump filter INPUT "$FROM_LAN" "$ALL" input_lan
    jump filter INPUT "$FROM_VPN" "$ALL" input_vpn
    jump filter INPUT "$FROM_LO" "$ALL" input_lo
    drop INPUT

    # OUTPUT RULES
    jump filter OUTPUT "$TO_ALL" "$ALL" general_tracking
    jump filter OUTPUT "$TO_BRIDGE" "$ALL" output_bridge
    jump filter OUTPUT "$TO_VPN" "$ALL" output_vpn
    jump filter OUTPUT "$TO_LO" "$ALL" output_lo
    reject OUTPUT

    # FORWARD RULES
    jump filter FORWARD "$FROM_ALL_TO_ALL" "$ALL" general_tracking
    jump filter FORWARD "$FROM_WAN_TO_LAN" "$ALL" forward_wan_to_lan
    jump filter FORWARD "$FROM_LAN_TO_WAN" "$ALL" forward_lan_to_wan
    drop FORWARD
}

dscp_tagging() {
    # DSCP CHAINS
    ipt -t mangle -N dscp_bridge
    dscp dscp_bridge "$TO_ALL" "-p udp --dport domain" 0x04
    dscp dscp_bridge "$TO_ALL" "-p tcp --dport ssh" 0x04
    skip_dscp dscp_bridge "$ALL"

    ipt -t mangle -N dscp_vpn
    dscp dscp_vpn "$TO_ALL" "-p icmp" 0x01
    dscp dscp_vpn "$TO_ALL" "$ALL" 0x08
    skip_dscp dscp_vpn "$ALL"

    # DSCP RULES
    skip_dscp POSTROUTING "-m dscp ! --dscp 0x00"
    jump mangle POSTROUTING "$TO_BRIDGE" "$ALL" dscp_bridge
    jump mangle POSTROUTING "$TO_VPN" "$ALL" dscp_vpn
}

policies
flush_firewall
chain_general_tracking
chain_icmp
policies
firewall
dscp_tagging
